body {
  height: 100%;
}

#title {
	font-size: 16px;
}

#playfield {
  position: absolute;
  top: 3em;
  right: 1em;
  left: 1em;
  bottom: 1em;
  background: #2F402F;
  overflow: hidden;
  cursor: default;
}
#playfield.drag {
	cursor: move;
}

#playfield-inner {
  position: absolute;
  overflow: visible;
}

.tile {
  background: #2B442B;
  border: 1px solid #2B442B;
  overflow: hidden;
  position: absolute;
}

.tile-new {
	background: #2B442B;
	cursor: pointer;
}
