body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	font-size: 16px;
	padding: 2px 4px;
	background-gradient: 
}
#header h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	float: left;
}
#score-bar {
	float: right;
	display: inline;
	margin: 0;
	padding: 2px 0 0;
}
#score-bar li {
	display: inline;
	padding-right: 16px;
	font-weight: bold;
	font-size: 16px;
}
#score-bar li span {
	font-weight: normal;
	font-size: 18px;
	min-width: 5em;
}

#playfield {
	position: absolute;
	top: 28px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	cursor: default;
	background: url("space.png");
}
#playfield.drag {
	cursor: move;
}

#playfield-inner {
	position: relative;
	overflow: visible;
}

.tile {
	color: white;
	overflow: hidden;
	position: absolute;
}

.tile-new {
	cursor: pointer;
	background: #716C6C;
	background: radial-gradient(rgba(128,128,128,1), rgba(32,32,32,0.3), rgba(0,0,0,0));
}

