body {
	color: black;
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	font-size: 16px;
	padding: 2px 4px;
	background-gradient: 
}
#header h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	float: left;
}
#score-bar {
	float: right;
	display: inline;
	margin: 0;
	padding: 2px 0 0;
}
#score-bar li {
	display: inline;
	padding-right: 16px;
	font-weight: bold;
	font-size: 16px;
}
#score-bar li span {
	font-weight: normal;
	font-size: 18px;
	min-width: 5em;
}

#playfield {
	position: absolute;
	top: 28px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	cursor: default;
	background: url("space.png");
}
#playfield.drag {
	cursor: move;
}

#playfield-inner {
	position: relative;
	overflow: visible;
}

#menu {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
}
#menu.active {
	background: rgba(255,255,255,0.7);
	display: block;
}

#menu-inner {
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 25%;
	text-align: center;
}
#menu-inner button {
	font-size: 16px;
	color: #4134DE;
}

#game-over {
	display: none;
	color: #CA3C0E;
	font-size: 20px;
	font-weight: bold;
}
#game-over p {
	color: black;
	font-weight: bold;
}

.tile {
	color: white;
	overflow: hidden;
	position: absolute;
}

.tile-new {
	cursor: pointer;
	background: #716C6C;
	background: radial-gradient(rgba(128,128,128,1), rgba(32,32,32,0.3), rgba(0,0,0,0));
}

